# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore VS Code settings (optional)
.vscode/
fourth-flag-463614-v8-6fc37fceb78a.json
